<script type="module">
    import './node_modules/@cumul.io/cumulio-dashboard/cumulio-dashboard.esm.js';
</script>
<cumulio-dashboard
  dashboardId="f7c4a581-8890-44a6-8256-fcb9a47987fc"
  authKey="6ccc8335-8122-47aa-877c-2191f3c10838"
  authToken="emvxRoru5KA0Lou8AwXaDc1ml23R8768MX4UuhpGRkga81dxsvSbSY2lf7HtRQCyAaXKAlrdg8NHn6JH8ffIIcav5EYcZ4875sFtfz1q1GQyZvJVMINylWw6roZoMuXdP3S6vASBHtiKJ44SmWdWWC"
  appServer="https://app.us.cumul.io/">
</cumulio-dashboard>

<script defer src="https://cdn-a.cumul.io/js/cumulio-dashboard/1.0.12/cumulio-dashboard.min.js" charset="utf-8"></script>
<!-- You can use package manager to keep track of versions instead of using the CDN link -->
<!-- 
<script
  type="module"
  src="./node_modules/@cumul.io/cumulio-dashboard/cumulio-dashboard.esm.js"
></script>
 -->